{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Webnote System{% endblock %}</title>
		<meta charset="utf-8">
		<meta name="robots" content="NONE,NOARCHIVE">
		<!-- Bootstrap -->
		<link href="{% static "bootstrap.min.css" %}" rel="stylesheet">
	</head>
	<body>
		{% include "navbar.html" %}
		{% block content %}{% endblock %}
	</body>
</html>
