{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Edit Note - Webnote System{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div id="post-generic-content-form">
				<form action="." method="post">{% csrf_token %}
					{% crispy form %}
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
