{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}List Notes - Webnote System{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h3>{{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }} notes</h3>
			<table class="table table-striped table-bordered table-hover">
				<tr>
					<th>No.</th>
					<th>Head</th>
					<th>Body</th>
					<th>Lang</th>
				</tr>
				{% for note in note_list %}
					<tr>
						<td><strong>{{ note.pk }}</strong></td>
						<td><a href="/editnote/{{ note.pk }}">{{ note.head }}</a></td>
						<td>{{ note.body|truncatechars:140 }}</td>
						<td>{{ note.language }}</td>
					</tr>
				{% endfor %}
			</table>
			{% if is_paginated %}
				<div class="text-center">
					<nav aria-label="Page navigation">
						<ul class="pagination">
							{% if page_obj.has_previous %}
								<li>
									<a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
							{% else %}
								<li class="disabled">
									<a href="#">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
							{% endif %}
							<!-- Here come the page numbers. -->
							{% for page in page_obj.paginator.page_range %}
								{% if page_obj.number == page %}
									<li class="active"><span>{{ page }} <span class="sr-only">(current)</span></span></li>
								{% else %}
									<li><a href="?page={{ page }}">{{ page }}</a></li>
								{% endif %}
							{% endfor %}
							{% if page_obj.has_next %}
								<li>
									<a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							{% else %}
								<li class="disabled">
									<a href="#">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							{% endif %}
						</ul>
					</nav>
				</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
