<div class="container">
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Home</a>
			<a class="navbar-brand" href="/addnote/">Add Note</a>
		</div>
	</div>
</nav>
</div>