b {
  background-color: gold;
}

body {
  font-size: 18px;
}

.btn {
  border-radius: 0;
  font-size: 18px;
}

.form-control {
  border-radius: 0;
  height: 38px;
  font-size: 18px;
}

.marginalizer {
  margin: 1em;
}

#output {
  font-family: Consolas, monospace;
  display: block;
  /*padding: 9.5px;*/
  margin: 10px 0 10px;
  /*font-size: 8px;*/
  /*color: #333;*/
  /*word-break: break-all;*/
  /*word-wrap: break-word;*/
  /*background-color: #f5f5f5;*/
  /*border: 1px solid #ccc;*/
}

.w:hover {
  background: #cf9;
}
